---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, '');
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + (subpath?.[0] || '');
---

<a 
	href={href} 
	class:list={[ 
		className, 
		"inline-block py-2 px-4 rounded-lg transition-colors duration-200 font-semibold",
		"text-surface-light",
		"hover:bg-surface-light hover:bg-opacity-10",
		"hover:text-accent-vibrant",
		{ "text-accent-vibrant": isActive }
	]}
	{...props}>
	<slot />
</a>
