---
import Header from "@/shared/components/layout/Header.astro";
import BaseHead from "@/shared/components/layout/BaseHead.astro";
import Footer from "@/shared/components/layout/Footer.astro";
import GoogleAnalytics from "@/shared/components/seo/GoogleAnalytics.astro";
import "@/styles/theme.css";

interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="ko">
  <head>
    <GoogleAnalytics />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <BaseHead title={title} description={description ?? undefined} />
    <slot name="head" />
  </head>
  <body class="bg-background text-text font-sans flex flex-col min-h-screen">
    <Header />
    <main class="grow pt-20">
      <slot />
    </main>
    <Footer />

    <!-- Scroll Animation Script -->
    <script>
      import "@/shared/scripts/scroll-animation.ts";
    </script>
  </body>
</html>
