---
import Header from '@/components/layout/Header.astro';
import BaseHead from '@/components/layout/BaseHead.astro';
import Footer from '@/components/layout/Footer.astro';
import GoogleAnalytics from '@/components/seo/GoogleAnalytics.astro';
import { ViewTransitions } from 'astro:transitions';
import '@/styles/theme.css';

interface Props {
	title: string;
	description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="ko">
  <head>
    <GoogleAnalytics />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <BaseHead title={title} description={description ?? undefined} />
    <ViewTransitions />
    <slot name="head" />
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4653332352131854" crossorigin="anonymous"></script>
  </head>
  	<body class="bg-background text-text font-sans flex flex-col min-h-screen">
    <!-- Google Tag Manager (noscript) -->
    <!-- <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M9GB8LD5"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    End Google Tag Manager (noscript) -->
    <Header />
    <main class="flex-grow pt-20">
    <slot />
    </main>
    <Footer />
  </body>
</html> 